<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aldirezasastrawan.mahasiswaonline" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Mahasiswa Online"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aldirezasastrawan.mahasiswaonline.MainActivity"
            android:label="Mahasiswa Online" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aldirezasastrawan.mahasiswaonline.CreateActivity"
            android:label="Tambah Mahasiswa"
            android:parentActivityName="com.aldirezasastrawan.mahasiswaonline.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aldirezasastrawan.mahasiswaonline.MainActivity" />
        </activity>
        <activity
            android:name="com.aldirezasastrawan.mahasiswaonline.UpdateDeleteActivity"
            android:label="Detail Mahasiswa"
            android:parentActivityName="com.aldirezasastrawan.mahasiswaonline.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aldirezasastrawan.mahasiswaonline.MainActivity" />
        </activity>
    </application>

</manifest>
